<div class="jobs ongoing list-group">
  {{#each job in ongoing}}
    <a href="#" class="job list-group-item">
      <h4>{{ job.name }} <small>## seconds</small></h4>
      <p><span class="text-default"><i class="fa fa-circle-o-notch fa-spin"></i></span> In progress</p>
    </a>
  {{/each}}
</div>

<div class="jobs completed list-group">
  {{#each job in completed}}
    <a href="#" class="job list-group-item">
      <h4>{{ job.name }} <small>Completed <acronym title="10:50am 6 Feb 2015">## minutes ago</acronym></small></h4>
      {{#if successful}}
      <p><span class="text-success"><i class="fa fa-check-circle"></i> Success</span> in ## seconds</p>
      {{else}}
      <p><span class="text-danger"><i class="fa fa-exclamation-circle"></i> Failure</span> in ## seconds</p>
      {{/if}}
    </a>
  {{/each}}
</div>
