<div class="jumbotron">
  <h1>Run code on the <i class="fa fa-cloud"></i></h1>
  <p>Submit a function in your favorite language. Get back a result. It's that simple. Ready to get started?</p>
  <p><a href="#" class="btn btn-primary btn-lg">Log Right On In</a></p>
</div>
